.message {
    display: grid;
    grid-template-rows: 1fr 15px;
    /*border: 2px solid green;*/
    padding: 3px;

}

.imageAndText {
    /*border: 2px solid black;*/
    display: grid;
    grid-template-columns: minmax(70px, 80px) minmax(100px, 600px);
    margin-bottom: 5px;
}

.imageAndText img {

    width: 48px;
    height: 48px;
}

.image {
    justify-self: center;
}

.text {
    display: grid;
    grid-template-columns: minmax(100px, auto);
    padding: 10px;

    /*border: 2px solid red;*/
    background: rgba(245, 247, 251, 1);
    border-radius: 10px;

}

.text:after {

}

.name {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.messageText {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    word-break: break-all;
    white-space: normal;
}

.time {
    padding-left: 85px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    line-height: 12.19px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}