.clock {
}

.watch {
    font-size: 20px;
    padding-left: 10px;

}

.watch strong {
}

.more {
    padding-left: 10px;

}

.more span {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.buttonsContainer button {
    width: 82px;
    height: 30px;
  
    border-radius: 3px;
    padding: 5px 25px;
}




