.App {
    --header_height: 60px;
    margin: 0 auto;
    height: 100%;
    /*padding: 20px 0;*/
    background: rgb(245, 245, 245);

    /*width: 90%;*/
}

.hwTitle {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 100px;
}

.hw {
    border: 2px solid rgba(217, 217, 217, 1);
    padding: 20px 100px;
    display: grid;
    min-height: 350px;

}


.talks {
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: column;

    /*padding: 2px;*/
    /*display: grid;*/
    /*grid-template-columns: minmax(500px, 1fr) minmax(500px, 1fr);*/
    /*justify-items: center;*/
}
