.sendForm {
    margin-top: 50px;
    display: grid;
    grid-template-columns: minmax(1000px, 1fr) minmax(50px, 200px);
    gap: 30px;
}

.textarea {
    height: 40px;
    outline: none;
    resize: none;
    border: none;
    overflow: hidden;
    background: rgba(245, 247, 251, 1);
    padding: 20px;
    border-radius: 20px;
    align-items: center;
}

.button {
    border-radius: 20px;
    border: none;
    background: rgba(0, 102, 204, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.button:hover {
    background: rgb(0, 66, 129);

}

.button:active {

}
